<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <TestRunParameters>
        <Parameter name="url" value="https://www.onliner.by/" />
        <Parameter name="apiProfileUrl" value="https://profile.onliner.by/sdapi/user.api/" />
        <Parameter name="browser" value="Chrome" />
    </TestRunParameters>
    <RunConfiguration>
        <MaxCpuCount>1</MaxCpuCount>
    </RunConfiguration>
</RunSettings>